#textdomain wesnoth-units
[unit_type]
    id=dm_dune_catcher
    name= _ "Dune Catcher"
    race=naga
    gender=male
    image="new/dune-hunter.png"
    profile=portraits/nagas/fighter.png
    hitpoints=45
    movement_type=naga
    movement=7
    experience=80
    level=2
    alignment=liminal
    advances_to=null
    {AMLA_DEFAULT}
    cost=43
    usage=fighter
    description= _ "The serpentine naga are one of the few races capable of any meaningful mobility in water, giving them mastery of a whole world effectively forbidden to land dwellers. Still, they are not true creatures of the sea, and their inability to breathe water leaves them in trepidation of the abyss. They are small, and somewhat frail in form, but often much more nimble than their opponents."
    die_sound=naga-die.ogg
    #{DEFENSE_ANIM "units/nagas/fighter-defend-2.png" "units/nagas/fighter-defend-1.png" {SOUND_LIST:NAGA_HIT} }
       
       
        [attack]
        name=spear
        description=_"spear"
        type=pierce
        range=melee
        damage=5
        number=4
        [specials]
            {WEAPON_SPECIAL_POISON}
            {WEAPON_SPECIAL_LIMINAL_RELEASE}
        [/specials]
    [/attack]

    [attack]
        name=net
        description=_"net"
        type=impact
        range=ranged
        [specials]
            {WEAPON_SPECIAL_SLOW}
            {WEAPON_SPECIAL_LIMINAL_RELEASE}
        [/specials]
        damage=6
        number=3
        icon=attacks/net.png
    [/attack]
[/unit_type]
